name: Create Release

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

concurrency:
  group: "release-${{ github.ref }}"
  cancel-in-progress: false

jobs:
  create-release:
    name: Create GitHub Release
    uses: ./.github/workflows/release.yaml
    with:
      tag_name: ${{ github.ref_name }}
      prerelease: false
    permissions:
      contents: write
